/////////////////////////////////////////////////////////
// Brand                                               //
/////////////////////////////////////////////////////////

// Setup
$logowidth: 100px!default;
$logoheight: 40px!default;


.logo {
	display: block;
	@include text-hide();
	background: url(/img/brand/logo/primary.png) no-repeat center center;
	background-size: $logowidth $logoheight;
	width: $logowidth;
	height: $logoheight;
	&.center {
		margin:0 auto;
	}
	&.secondary {
		background: url(/img/brand/logo/secondary.png) no-repeat center center;
		background-size: $logowidth $logoheight;
	}
}
