<div class="form-section">
  <div class="row f-dlex justify-content-center">
    <article class="col-md-8">
      <h1 align="center" class="margin-bottom-10">Contact About Awesomeness</h1>
      <h4 align="center" class="fc-midgrey">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h4>
    </article>
  </div>
  <div class="row f-dlex justify-content-center">
    <form class="col-md-5 d-flex flex-column align-items-end">
      <label>Your name</label>
      <input type="text" placeholder="Please enter your name" required />
      <label>Your Telephone Number</label>
      <input type="number" placeholder="Please enter your number" required />
      <label>Your Email</label>
      <input type="email" placeholder="Please enter your email" required />
      <label>Your Message</label>
      <textarea type="text" placeholder="Please enter your message"></textarea>
      <p>Please enter as much detail as possible</p>
      <button type="submit" class="btn-primary">Submit</button>
    </form>
  </div>
</div>
