	<!-- <header class="d-flex justify-content-between">
		<h1><a class="logo" href="/">{{company_name}}</a></h1>
		<a class="mobile-menu" href="/"></a>
	</header> -->
	<ul class="navigation">
		<div class="nav">
			<li class="nav-item"><a href="#">Menu Link</a></li>
	    <li class="nav-item"><a href="#">Menu Link Again</a></li>
	    <li class="nav-item"><a href="#">Menu Link See</a></li>
			<button class="btn-secondary">Contact</button>
		</div>
	</ul>

	<input type="checkbox" id="nav-trigger" class="nav-trigger" />
	<label for="nav-trigger"></label>
