<div class="service-section">
  <div class="row d-flex justify-content-center">
    <article class="col-12 col-md-8">
      <h1 align="center" class="margin-bottom-10">We Do Really Awesome Things</h1>
      <h4 align="center" class="fc-midgrey">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h4>
    </article>
  </div>
  <div class="service-container">
    <div class="row service d-flex justify-content-center">
      <article class="col-md-8 d-flex flex-column align-items-center">
        <img src="img/icon/service-badge-1.svg" />
        <h3 align="center">Service Name</h3>
        <h5 align="center" class="fc-midgrey">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</h5>
      </article>
    </div>
    <div class="row service d-flex justify-content-center">
      <article class="col-md-8 d-flex flex-column align-items-center">
        <img src="img/icon/service-badge-2.svg" />
        <h3 align="center">Service Name</h3>
        <h5 align="center" class="fc-midgrey">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</h5>
      </article>
    </div>
    <div class="row service d-flex justify-content-center">
      <article class="col-md-8 d-flex flex-column align-items-center">
        <img src="img/icon/service-badge-3.svg" />
        <h3 align="center">Service Name</h3>
        <h5 align="center" class="fc-midgrey">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</h5>
      </article>
    </div>
  </div>
</div>
